In [1]:
import pandas as pd
import numpy as np

In [2]:
file="drinks.csv"
drinks = pd.read_csv(file)
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
0,Afghanistan,0,0,0,0.0,34.660.000,Asia
1,Albania,89,132,54,4.9,2.876.000,Europe
2,Algeria,25,0,14,0.7,40.061.000,Africa
3,Andorra,245,138,312,12.4,77.281.000,Europe
4,Angola,217,57,45,5.9,28.081.000,Africa

In [3]:
# Qualquer Dataframe possui Indices

drinks.index

RangeIndex(start=0, stop=193, step=1)

In [4]:
# As colunas também estão armazenadas em um objeto de índices

drinks.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'population', 'continent'],
      dtype='object')

In [5]:
drinks.shape

(193, 7)

In [6]:
# indices e colunas são inteiros por padrão caso não sejam definidos

file="espectadores.txt"

pd.read_table(file, header=0, sep='|').head()

   1  24  M  technician  85711
0  2  53  F       other  94043
1  3  23  M      writer  32067
2  4  24  M  technician  43537
3  5  33  F       other  15213
4  6  42  M   executive  98101

#### Os Indices são utilizados em geral para 3 operações:

1. Identificação
2. Seleção
3. Alinhamento

## Identificação

In [7]:
drinks[drinks.continent == 'South America']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
6,Argentina,193,25,221,8.3,43.085.000,South America
20,Bolivia,167,41,8,3.8,11.410.651,South America
23,Brazil,245,145,16,7.2,207.660.929,South America
35,Chile,130,124,172,7.6,18.006.407,South America
37,Colombia,159,76,3,4.2,48.336.300,South America
52,Ecuador,162,74,3,4.2,16.027.500,South America
72,Guyana,93,302,1,7.1,746.900,South America
132,Paraguay,213,117,74,7.3,7.003.406,South America
133,Peru,163,160,21,6.1,31.151.643,South America
163,Suriname,128,178,7,5.6,534.189,South America
185,Uruguay,115,35,220,6.6,3.415.866,South America
188,Venezuela,333,100,3,7.7,30.620.404,South America

## Localização

In [8]:
# Na seleção podemos trazer uma parte do Dataframe utilizando o índice

# A função loc permite a localização por índice

drinks.loc[6, 'beer_servings']

193

# Alterando índices

### A alteração de índices reflete no dataframe na forma de agrupamentos ou Reshaping

In [9]:
#Alterando o índice para países com a opção inplace, que refletira no Dataframe original

drinks.set_index('country', inplace=True)
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
country,,,,,,
Afghanistan,0,0,0,0.0,34.660.000,Asia
Albania,89,132,54,4.9,2.876.000,Europe
Algeria,25,0,14,0.7,40.061.000,Africa
Andorra,245,138,312,12.4,77.281.000,Europe
Angola,217,57,45,5.9,28.081.000,Africa

In [10]:
# Verificando novamente os índices

drinks.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Tanzania', 'USA', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='country', length=193)

In [11]:
# Podemos concluir que Países não é mais uma coluna

drinks.columns

Index(['beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'population', 'continent'],
      dtype='object')

In [12]:
drinks.shape

(193, 6)

In [13]:
# Utilizamos a função Loc mais uma vez para trazer uma parte do Dataframe

drinks.loc['Brazil', 'beer_servings']

245

# Nomeando índices

In [14]:
#Podemos nomear os índices, mas esta é uma caracteristica opcional, porém, recomendada em produção e documentação.

drinks.index.name = None
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
Afghanistan,0,0,0,0.0,34.660.000,Asia
Albania,89,132,54,4.9,2.876.000,Europe
Algeria,25,0,14,0.7,40.061.000,Africa
Andorra,245,138,312,12.4,77.281.000,Europe
Angola,217,57,45,5.9,28.081.000,Africa

In [15]:
# Renomeando o índice

drinks.index.name = 'country'
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
country,,,,,,
Afghanistan,0,0,0,0.0,34.660.000,Asia
Albania,89,132,54,4.9,2.876.000,Europe
Algeria,25,0,14,0.7,40.061.000,Africa
Andorra,245,138,312,12.4,77.281.000,Europe
Angola,217,57,45,5.9,28.081.000,Africa

# Resetando um índice

In [16]:
drinks.reset_index(inplace=True)
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
0,Afghanistan,0,0,0,0.0,34.660.000,Asia
1,Albania,89,132,54,4.9,2.876.000,Europe
2,Algeria,25,0,14,0.7,40.061.000,Africa
3,Andorra,245,138,312,12.4,77.281.000,Europe
4,Angola,217,57,45,5.9,28.081.000,Africa

# Métodos de Dataframes em Séries

In [17]:
# Podemos mesclar praticamente todos os métodos dos Dataframes
# Aqui por exemplo, o describe retorna um novo Dataframe

drinks.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [18]:
# Que pode ser utilizado pelo método loc.
# Qual a média de cereveja consumida no mundo inteiro

drinks.describe().loc['mean', 'beer_servings']

106.16062176165804

In [19]:
# Toda série também possui um índice, que é carregado a partir de um dataframe

drinks.continent.head()

0      Asia
1    Europe
2    Africa
3    Europe
4    Africa
Name: continent, dtype: object

In [20]:
# Alterando o índice mais uma vez

drinks.set_index('country', inplace=True)

In [21]:
#Verificando uma série do Datafarame

drinks.continent.head()

country
Afghanistan      Asia
Albania        Europe
Algeria        Africa
Andorra        Europe
Angola         Africa
Name: continent, dtype: object

In [22]:
# Um outro exemplode série retornada, é quando utilizamos value_counts()

drinks.continent.value_counts()

Africa           53
Europe           45
Asia             44
North America    23
Oceania          16
South America    12
Name: continent, dtype: int64

In [23]:
#Podemos também ter acesso ao índice de uma série

drinks.continent.value_counts().index

Index(['Africa', 'Europe', 'Asia', 'North America', 'Oceania',
       'South America'],
      dtype='object')

In [25]:
# Acessando od valores da série

drinks.continent.value_counts().values

array([53, 45, 44, 23, 16, 12], dtype=int64)

# Ordenando Séries

In [26]:
# Qualquer série pode ter seus valores ordenados por outros valores

drinks.continent.value_counts().sort_values()

South America    12
Oceania          16
North America    23
Asia             44
Europe           45
Africa           53
Name: continent, dtype: int64

In [28]:
# Qualquer série pode ter seus valores ordenados por índices

drinks.continent.value_counts().sort_index()

Africa           53
Asia             44
Europe           45
North America    23
Oceania          16
South America    12
Name: continent, dtype: int64

# Alinhamento

In [29]:
# A coluna beer_servings contém a média anual de cerveja consumida por pessoa

drinks.beer_servings.head()

country
Afghanistan      0
Albania         89
Algeria         25
Andorra        245
Angola         217
Name: beer_servings, dtype: int64

In [30]:
# Supondo uma classificação: 0 - 75 = baixa / 76 - 150 média / 151 - ... Alta
# Vamos criar outra série baseada e ALINHADA à primeira

cons_beer = pd.Series(['Baixo','Baixo','Alto'], index=['Afganistan','Albania','Andorra'], name='consumo')
cons_beer

Afganistan    Baixo
Albania       Baixo
Andorra        Alto
Name: consumo, dtype: object

### As duas séries estão aligned (alinhadas) pelos índices
Se um valor está falatando em uma série, ele é marcado como NaN.
O alinhamento de índices nos facilita a atrabalhar com dados incompletos.

In [32]:
# Concatene as séries ou Dataframes

pd.concat([drinks, cons_beer], axis=1).head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent,consumo
Afghanistan,0.0,0.0,0.0,0.0,34.660.000,Asia,NaN
Albania,89.0,132.0,54.0,4.9,2.876.000,Europe,Baixo
Algeria,25.0,0.0,14.0,0.7,40.061.000,Africa,NaN
Andorra,245.0,138.0,312.0,12.4,77.281.000,Europe,Alto
Angola,217.0,57.0,45.0,5.9,28.081.000,Africa,NaN